# PyTorch (GPU) - CUDA 11.8
# For autoregression_benchmark.py
torch==2.0.1+cu118 --extra-index-url https://download.pytorch.org/whl/cu118
torchvision==0.15.2+cu118 --extra-index-url https://download.pytorch.org/whl/cu118
torchaudio==2.0.2+cu118 --extra-index-url https://download.pytorch.org/whl/cu118

# TensorFlow (GPU)
# For classifier_benchmark.py & multimodal_benchmark.py
tensorflow[and-cuda]==2.12.0  # Includes CUDA/cuDNN for GPU

# Core Libraries
numpy
matplotlib
tqdm
scikit-learn

# Hugging Face
transformers
datasets

# TensorFlow Extras
tensorflow-datasets
